<!DOCTYPE HTML>
<html>
<head>
    <title>IR Personal News - Search Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <script async='async' src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link href="//cdn.muicss.com/mui-0.9.17/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.1.min.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.17/js/mui.min.js"></script>
    <style>
        .mdl-layout {
            background: url('/images/background.jpg') center / cover;
        }

        .mdl-layout .mdl-layout__header,
        .mdl-layout .mdl-layout__drawer-button {
            /* This background is dark, so we set text to white. Use 87% black instead if
               your background is light. */
            color: white;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#Home").click(function goToURL() {
                    location.href = 'http://localhost:8080';
                });
            $("#politics").click(function () {
                $("#sport").removeClass("is-active");
                $("#science").removeClass("is-active");
                $("#technology").removeClass("is-active");
                $("#lifestyle").removeClass("is-active");
                $(this).addClass("is-active");
                $("#topic").val("politics");
            });
            $("#sport").click(function () {
                $("#politics").removeClass("is-active");
                $("#science").removeClass("is-active");
                $("#technology").removeClass("is-active");
                $("#lifestyle").removeClass("is-active");
                $(this).addClass("is-active");
                $("#topic").val("sport");
            });
            $("#science").click(function () {
                $("#politics").removeClass("is-active");
                $("#sport").removeClass("is-active");
                $("#technology").removeClass("is-active");
                $("#lifestyle").removeClass("is-active");
                $(this).addClass("is-active");
                $("#topic").val("science");
            });
            $("#technology").click(function () {
                $("#politics").removeClass("is-active");
                $("#sport").removeClass("is-active");
                $("#science").removeClass("is-active");
                $("#lifestyle").removeClass("is-active");
                $(this).addClass("is-active");
                $("#topic").val("technology");
            });
            $("#lifestyle").click(function () {
                $("#politics").removeClass("is-active");
                $("#sport").removeClass("is-active");
                $("#science").removeClass("is-active");
                $("#technology").removeClass("is-active");
                $(this).addClass("is-active");
                $("#topic").val("lifestyle");
            });
        });
    </script>
</head>
<body>
<!-- Uses a transparent header that draws on top of the layout's background -->

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title" id="home">IRPersonalNews</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-layout__tab is-active" id="politics"
                   ic-post-to="/compute"
                   ic-trigger-on="click"
                   ic-target="#search-result-container"
                   ic-trigger-delay="20ms"
                >Politics</a>
                <a class="mdl-layout__tab" id="sport"
                   ic-post-to="/compute"
                   ic-trigger-on="click"
                   ic-target="#search-result-container"
                   ic-trigger-delay="20ms"
                >Sport</a>
                <a class="mdl-layout__tab" id="science"
                   ic-post-to="/compute"
                   ic-trigger-on="click"
                   ic-target="#search-result-container"
                   ic-trigger-delay="20ms"
                >Science</a>
                <a class="mdl-layout__tab" id="technology"
                   ic-post-to="/compute"
                   ic-trigger-on="click"
                   ic-target="#search-result-container"
                   ic-trigger-delay="20ms"
                >Technology</a>
                <a class="mdl-layout__tab" id="lifestyle"
                   ic-post-to="/compute"
                   ic-trigger-on="click"
                   ic-target="#search-result-container"
                   ic-trigger-delay="20ms"
                >Lifestyle</a>
            </nav>
        </div>
    </header>

    <main class="mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--4-col">
                <div id="container" class="mui-container">
                    <div>

                        <div class="mui-panel" style="width: 100%">
                            <form id="form" role="form" method="post" autocomplete="off">
                                <input ic-global-include="#topic" name="topic" id="topic" value="politics"
                                       type="hidden"/>
                                <div class="mui-textfield">
                                    <input name="query"
                                           id="search"
                                           type="text"
                                           placeholder="Search"
                                           ic-global-include="#search"
                                           ic-post-to="/compute"
                                           ic-trigger-on="keyup changed"
                                           ic-trigger-delay="10ms"
                                           ic-target="#search-result-container"
                                    />
                                </div>
                            </form>
                            <!--<span id="search-result-container">
                            </span>-->
                            <label for="personalization" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                <input type="checkbox"
                                       id="personalization"
                                       name="personalization"
                                       class="mdl-switch__input"
                                       ic-post-to="/compute"
                                       ic-global-include="#personalization"
                                       ic-trigger-on="change"
                                       ic-trigger-delay="10ms"
                                       ic-target="#search-result-container"
                                       checked="checked"
                                />
                                <span class="mdl-switch__label">Personalization On/Off</span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-grid" id="search-result-container">
        </div>
    </main>
</div>
</body>
</html>